(LOG) {
		log {
				output file "{args[0]}" {
						roll_size 100mb
						roll_keep 5
						roll_keep_for 7d
						roll_uncompressed
						roll_local_time
				}
				format console {
						time_format "2006-01-02T15:04:05.000Z07:00"
				}
		}
}

(COMCFG) {
		encode zstd gzip
}

{
		debug
		order report before file_server
		default_sni errpage.ysicing.net
}

:80 {
    import COMCFG
    import LOG /tmp/caddy.log
    metrics /metrics
    report {
        file docker/report.txt
        remote https://www.baidu.com
    }
		sendlog https://www.baidu.com
    file_server {
        root ./docker
		}
}
